@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #FEF0E7;
  min-height: 100vh;
}

.font-newsreader {
  font-family: var(--font-newsreader);
}

.font-ibm-plex-mono {
  font-family: var(--font-ibm-plex-mono);
}

.font-google-sans {
  font-family: 'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

